@font-face {
   font-family: 'FontsFree-Net-Holiday-1';
   font-display: swap;
   src: url('file:///C:/Users/Akinshola/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-07-08_170617/fonts/FontsFree-Net-Holiday-1/font.ttf');
}
